.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
}

.headings h3{
    text-align: center;
    width: 400px;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 7px;
}

.picture-wrapper .pic {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.picture-wrapper .pic img{
    width: 20vw;    
}

.end-of-page p{
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 100px;
}

@media (max-width: 615px) {
    .headings {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .7em;
        font-family: 'Open Sans', sans-serif;
    }

    .headings h3 {
        text-align: center;
        width: 200px;
        border-bottom: 1px solid black;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 7px;
    }

    .end-of-page p {
        padding: 30px;
        font-size: .7em;
    }
}