@media (max-width: 615px) {
    .navigation-wrapper {
        flex-direction: column;
        height: 100%; 
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .navigation-wrapper .left-column {
        order: 2;
        margin-top: 10px;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;
    }

    .navigation-wrapper .center-column {
        order: 1;
        margin-left: -50px;
        align-items: center;
        justify-content: center;
    }

    .navigation-wrapper .right-column {
        order: 3;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation-wrapper .center-column .links-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .navigation-wrapper .center-column .links-wrapper .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    .footer {
        height: 100%;
        width: 620px;
    }

    .footer .logo-footer {
        font-size: 14px;
    }

    .footer .links-wrapper {
        margin-right: 100px;
    }

    .footer .social-media-icons-wrapper {
        margin-right: 16px;
    }

    .service-wrapper {
        height: 100%;
    }

    .service-wrapper .dog-image img{
        display: flex;
        justify-content: center;
        align-self: center;
        width: 300px;
        height: 300px;
    }

    .service-wrapper .logo-text {
        margin-top: 100px;
        margin-left: 160px;
    }

    .service-wrapper .bath-wrapper {
        margin-left: 160px;
    }

    .service-wrapper .additional-services {
        margin-left: 160px;
    }

    .service-wrapper .additional-service-text {
        margin-left: 100px;
    }
}