/* Common nav styles */
.navigation-wrapper {
    height: 25vh;
    background-color:#649eff;
    color: #fdf1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    font-family: 'Pacifico', cursive;
}

/* Left Column */
.navigation-wrapper .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper .left-column .icon {
    margin-right: 15px;
}

.navigation-wrapper .left-column .icon i {
    font-size: 2em;
}

.navigation-wrapper .left-column .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

/* Center Column */
.navigation-wrapper .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 35vw;
}

.navigation-wrapper .center-column .banner-logo {
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
}

.navigation-wrapper .center-column .banner-logo h2 {
    margin-left: 60px;
    width: 220px;
    height: 100%;
    font-family: 'Pacifico', cursive;
}

.navigation-wrapper .center-column .banner-logo-icon i {
    position: relative;
    left: 0px;
    margin-top: 26px;
    font-size: 1.8em;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper .nav-link {
    width: 70px;
    text-align: center;
}

.links-wrapper .nav-link a {
    color: #fdf1f1;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}

/* Right Column */
.navigation-wrapper .right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper .right-column .address-wrapper {
    text-align: right;
}

.navigation-wrapper .right-column .address-wrapper a {
    color: #fdf1f1;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
    font-size: 1em;
}

.navigation-wrapper .right-column .address-wrapper a:hover {
    color: #cea135;
}

.navigation-wrapper .right-column .contact-icon {
    margin-left: 15px;
    font-size: 2em;
}

.navigation-wrapper .right-column .contact-icon a {
    color: #fdf1f1;
    transition: 0.5s;
}

.navigation-wrapper .right-column .contact-icon a:hover {
    color: #cea135;
}
